# Python cache directories
__pycache__/

# IDE configuration files
.idea/

# logs and reports
*.xml
*.log

# private files
git_workflow.txt

# data files that don't need version control (avoids cluttering list of tracked files)
sample_input/*.txt
test/sample_input/*.txt
