# Cache directories
__pycache__/
.ruff_cache/

# Temp files
*.swp

# IDE configuration files
.idea/

# Virtual environments
venv/
.venv/

# Installation/Packaging/Distribution artifacts
build/
dist/
*.egg-info/
*.egg
*.whl

# Personal files e.g. notes, reminders, ideas, code experiments
.personal/
test/test_ideas.txt
temp*/

# See also: '/input_data/.gitignore' and '/json_files/.gitignore'
# These are empty directories for local runs of the program
# Note that '/test/input_data/' and '/test/json_files/' are not ignored
